.container-fluid, .row, .container {
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    text-align: center;
}

.input, .form1 {
    text-align: center;
}
@keyframes myrotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(359deg);
    }
}

@-o-keyframes myrotate {
    0% {
        -o-transform: rotate(0deg);
    }
    100% {
        -o-transform: rotate(359deg);
    }
}

@-moz-keyframes myrotate {
    0% {
        -moz-transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(359deg);
    }
}

@-webkit-keyframes myrotate {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
    }
}

@-ms-keyframes myrotate {
    0% {
        -ms-transform: rotate(0deg);
    }
    100% {
        -ms-transform: rotate(359deg);
    }
}


.rotate:hover {
    -webkit-animation: myrotate 1.5s infinite linear;
    -moz-animation: myrotate 1.5s infinite linear;
    -ms-animation: myrotate 1.5s infinite linear;
    -o-animation: myrotate 1.5s infinite linear;
    animation: myrotate 1.5s infinite linear;
}

.rotate {
    cursor: pointer;
}

.table {
    word-wrap: break-word;
    background-color: black;
}

.btnColor {
    background-color: #9c743f;
}
body
{
    background-image: url("../../Public/img/back3.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
     font-family: "Merriweather", Georgia, serif;
}
.container
{
    background-color: beige;
    margin-top: 250px;
    margin-bottom: 80px;
    background-color: rgba(255, 255, 255, 1);
}
footer
{
    margin-top: 50px;
    margin-bottom: 150px;
}
.contact
{
    background-color: rgba(255, 255, 255, 0.8);
}
.slide
{
    background-color: rgba(255, 255, 255, 0);
}
.footer,#link,#menu
{
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    color: antiquewhite;
    font-size: x-large;
    text-decoration: none;
    font-style: oblique;
}
#logo
{
    list-style-type: none;
    margin-top: 70px;
}
#logocolor
{
    color: #9c743f;
}